<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Calculator</title>

    {% load static%}
    <link rel="stylesheet" href="{% static 'main.css'%}" />
  </head>
  <body>
    <div class="container">
      <div class="calculator">
        <div class="display" id="display">0</div>

        <div class="buttons">
          <button class="btn clear">C</button>
          <button class="btn delete">←</button>
          <button class="btn op">/</button>
          <button class="btn op">*</button>

          <button class="btn">7</button>
          <button class="btn">8</button>
          <button class="btn">9</button>
          <button class="btn op">-</button>

          <button class="btn">4</button>
          <button class="btn">5</button>
          <button class="btn">6</button>
          <button class="btn op">+</button>

          <button class="btn">1</button>
          <button class="btn">2</button>
          <button class="btn">3</button>
          <button class="btn equal">=</button>

          <button class="btn">0</button>
          <button class="btn">.</button>
        </div>
      </div>

      <div class="history">
        <h3>History</h3>
        <ul id="historyList"></ul>
      </div>
    </div>
    <script src="{% static 'main.js' %}"></script>
  </body>
</html>
